<nav>
	<ul>
		<li {{action "showHideLogin"}}>login</li>
		<li {{action "showHideAbout"}}>about</li>
	</ul>
</nav>

<div class="overlay">
	<header class={{this.currentRouteName}}>
		<div class="logo about"></div>
		{{fa-icon "close" click=(action "close")}}
	</header>

	{{#if about}}
	<div class="about-body">
		<div class="papua">
			<h3>Designing <i>with</i>, not <i>for</i>.</h3>
			<p>Design of any kind is at its best when based squarely on the premise of co-creation. While there's no subsitute for craftsmanship, insights into problems and good ideas that deserve to be tried out can come from anywhere.</p>
			<p>Spofford has the crazy idea that consumers, designers, and manufacturers can work seamlessly together to create affordable furniture and home goods with a soul.</p>

		</div>
		<div class="new-guinea">
			<h3>So you're an online store? And what's a co-op?</h3>
			<p>To be honest, on the surface Spofford probably won't look much different than your standard e-commerce site. But underneath there's a lot more brewing. We think you're more than a consumer, which is why we're creating not only a carefully curated online shop, but a platform for your big dreams about the home you want to create, as well as leave your mark on the next generation of furniture and home goods. Membership in Spofford's co-operative will give you access into the work and process of a carefully selected portfolio of designers. But we aren't stopping there&mdash;we're betting the farm on the idea that you care as much about regional manufacturing as we do. So you'll meet the human beings behind ever step of the product fabrication process, and you'll get to know everyone who's had a hand in producing the products you bring into your home.</p>
			<p>Did we mention we intend on competing with even the discount stores on price? Crazy, we know. But the big industry secret is that <i>it's totally possible</i>.</p>
			<button class="btn btn-2">learn more</button>
		</div>
		<div class="new-guinea">
			<h3>What's in it for designers?</h3>
			<p>"Design thinking" gets thrown around a lot these days. But ironically independent designers don't have a great method for rapidly iterating and experimenting with ideas. On the one hand, it's hard to get good feedback early on in the process from actual potential consumers (not to mention worrying about some big guy ripping off your designs if you make it public). On the other end of the process, manufacturing, procurement, contracts...that's a whole department for most companies. How's a designer supposed to handle that?</p>
			<p>Spofford offers designers a chance to inexpensively and quickly prototype their ideas and iterate based on real feedback, on both the product <i>and</i> the price. Frankly, some ideas just won't make the cut. But those that do will receive the full support of Spofford's networks of suppliers and fabricators to produce your work and get it to market. It's like getting a whole team of investors behind your ideas and mitigating risk as efficiently as the big guys do.</p>
			<button class="btn btn-2">learn more</button>
		</div>
		<div class="new-guinea">
			<h3>We believe in regional manufacturing. Here's why you should believe in us.</h3>
			<p>We're not only designers and digital types, we also have some of the world's leading minds in supply chain and procurement leading our team. If you're a small shop or raw materials supplier, you won't be dealing with just a client, you'll be be working with <i>advocates for your business</i>, who want almost as much as you do for you to succeed.</p>
			<p>Top-down, vertical integration has had it's day&mdash;it's time for the big factories abroad to step aside and make way for distributed, regional supply chains that, thanks to industry leading legal, communications, and logistics tech, are just as efficient, and 1000 times more resilient and flexible, than even the biggest corporations.</p>
			<button class="btn btn-2">learn more</button>
		</div>
	</div>
	{{else}}
	<form>
		<h1>Members Login</h1>
		<p>Don't have a login yet? {{link-to "Request an invite." "signup"}}</p>
		<div class="error-container" style="height:40px;">
		{{#if error}}
		<p style="color:red;"><i>Incorrect email address/username or password</i></p>
		{{/if}}
		</div>
		<label style="display:none;">Email address or username</label>
		<input type="email" placeholder="Enter email address or username" />

		<label style="display:none;">Password</label>
		<input type="email" placeholder="Enter password" />
		<div class="button-container"><button class="btn btn-2" {{action "toggleError"}}>learn more</button><p {{action "close"}}>No thanks.</p></div>
	</form>
	{{/if}}
</div>


{{yield}}
