<header class={{this.currentRouteName}}>
	<div class="logo"></div>
	{{about-overlay}}
</header>

{{liquid-outlet}}

<!--
<footer class={{this.currentRouteName}}>
	<nav>
		<ul>
			{{link-to 'shop' 'index' tagName="li" id="menu-index" href=false}}
			{{link-to 'co-op' 'co-op' tagName="li" id="menu-co-op" href=false}}
      {{link-to 'design workshop' 'designers' tagName="li" id="menu-designers" href=false}}
      {{link-to 'supply chain' 'manufacturing' tagName="li" id="menu-manufacturing" href=false}}
		</ul>
	</nav>
</footer>
-->
